html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}
.productPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topLinks,
.menuMain,
.menuCategories,
.menuBreadCrumb,
.productContainer {
  padding-left: 150px;
  padding-right: 150px;
}

.titleSection,
.topLinks,
.menuMain, .productColumn, .leftSide, .priceSection {
  display: flex;
  flex-direction: row;
}

.dotSection {
  height: 17px;
  padding-top: 17px;
  padding-right: 8px;
}

/* MENU CONTAINER*/
header {
  background: #ccc;
  margin-top: -10px;
  padding-top: -10px;
}
.menuTop {
  background: #333;
  height: 30px;
}
.topLinks {
  justify-content: start;
  list-style-type: none;
  font-size: 10px;
  color: white;
  padding-top: 7px;
}
.linksContact {
  margin-right: 50px;
}
.iconMenu {
  width: 7px;
  margin-right: 10px;
}
.menuMain {
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-block-end: 20px;
  background: url(./image/top/background-1.png) repeat-x center top;
}
.mainLogo {
  height: 30px;
  cursor: pointer;
}
.searchContainer {
  padding: 6px 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.searchContainer button {
  padding: 6px 10px;
  background: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.searchContainer button:hover {
  background: #ccc;
}
.iconSearch {
  height: 10px;
}
.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.menuCategories {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  padding-top: 20px;
  padding-block-end: 20px;
  background: white;
}
.menuCategories > li {
  margin-right: 50px;
  font-weight: bold;
  cursor: pointer;
}
.menuBreadCrumb {
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  padding-top: 5px;
  padding-block-end: 5px;
  background: url(./image/top/background-down.png) repeat-x center top;
}
.menuBreadCrumb > li {
  font-size: 12px;
  margin-right: 20px;
  cursor: pointer;
}

/*PRODUCT CONTAINER*/
.productProjector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
}

/*slider*/
.productSlider {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
}
.mySlides {
  display: none;
}
.prevContainer,
.nextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-block-end: 10px;
  padding-block-start: 10px;
}

.prev,
.next {
  cursor: pointer;
  font-size: 20px;
}
.numbertext {
  color: white;
  background: red;
  font-size: 12px;
  padding: 8px 12px;
  float: right;
}
.slidersSmallImage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
}
.slidersSmallImage:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}
.active {
  opacity: 1;
  border-bottom: 4px solid red;
  cursor: pointer;
}
/* product info*/
.productInfoContainer {
  width: 40%;
  margin-left: 10px;
}
.productName {
  font-size: 20px;
}
.producentTitle {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  margin-top: 10px;
}
.producentTitle > a {
  font-size: 12px;
  margin-right: 20px;
}
.productColor {
  width: 100%;
}
.colorColumn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
.rowColor {
  float: left;
  width: 16.66%;
}
.changeColorImage {
  margin-right: 10px;
  width: 50%;
  border: 20px;
  padding-right: 10px;
  border: 1px solid grey;
  cursor: pointer;
}
.changeColorImage:active {
  border-bottom: 4px solid red;
  cursor: pointer;
}
.productColumn{
  justify-content: space-between;
  font-size: 10px;
  width: 100%;
  padding-top: 7px;
}
.leftSide, .rightSide{
  width: 100%;
}
.rightSide{
  text-align: end;
}
.leftSide>img{
 height: 70%;
 padding-right: 7px;
}
.priceSection{
  justify-content: start;
}


.selectParameters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* hotspot*/
.hotspotSection {
  padding-block-end: 40px;
}
.hotspotRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}
/* desc section*/
.productDecs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.dataColumn {
  width: 65%;
}
.parametersColumn {
  background: #333;
  width: 35%;
}
select {
  width: 200px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

/*information*/
.informationSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
  font-size: 10px;
  border-style: solid;
  border-width: 1px;
  list-style-type: none;
}
.informationItems {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-block-end: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.informationImage {
  margin-right: 10px;
  height: 50%;
}

/*accordion*/
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  padding-top: 18px;
  padding-block-end: 18px;
  width: 70%;
  text-align: left;
  border: none;
  outline: none;
  border-bottom: 0.5px solid grey;
  transition: 0.4s;
  background: none;
}
.accordion:hover {
  color: grey;
}
.panel {
  display: none;
  overflow: hidden;
  width: 60%;
  font-size: 10px;
}
.questionButton {
  border: none;
  padding: 10px;
  color: white;
  background: url(./image/desc_section/background.png) repeat-x center top;
}
/*blog section*/
.blogArticle {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: left;
}
.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.post > p {
  font-size: 10px;
  padding-left: 25px;
  line-height: 20px;
  align-items: center;
}
.post > img {
  width: 40%;
}

/*FOOTER - react*/
footer {
  display: block;
  background: url(./image/footer/bg-footer.png) repeat-x center top;
  background-size: contain;
  padding-top: 15%;
  border-left: none !important;
  border-right: none !important;
  border-bottom: none !important;
  margin-top: 10px;
  clear: both;
}
.iaiLogo {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
}
.footerLinks a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
  font-size: 9px;
  letter-spacing: 1px;
}

@media (max-width: 769px) {
  .footerRWD {
    display: flex;
    flex-direction: column;
  }
  .footerContainerRWD {
    align-items: center;
    padding-top: 20px;
    background: rgb(0, 0, 0);
    color: white;
  }
  .footerContainer {
    display: none;
  }
  .footerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  }

  .footerTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 17px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
}

@media (min-width: 770px) {
  .footerContainers {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
  }
  .footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
    border-right: 1px solid #333;
  }
  .footerTitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-bottom: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1.5px;
  }
  .footerLinks a {
    justify-content: start;
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
    font-size: 9px;
    letter-spacing: 1px;
  }

  .footerRWD {
    display: none;
  }
}
